<table>
	<tr>
		<th>Наименование</th>
		<th>Описание</th>
	</tr>
	<tr>
		<th colspan="2">Обязательные поля</th>
	</tr>
	<tr>
		<td>featured</td>
		<td>
			Тип: Чекбокс одинарный
			Имя поля в БД (a-z): featured
		</td>
	</tr>
	<tr>
		<th colspan="2">Группы полей, используемые в шаблоне</th>
	</tr>
	<tr>
		<td>GroupList1</td>
		<td>
			ываываываыва ыва ы
		</td>
	</tr>
	<tr>
		<td>GroupList1</td>
		<td>
			ываываываыва ыва ы
		</td>
	</tr>
	<tr>
		<td>GroupList2</td>
		<td>
			ываываываыва ыва ы
		</td>
	</tr>
	<tr>
		<td>GroupDetails1</td>
		<td>
			ываываываыва ыва ы
		</td>
	</tr>
	<tr>
		<td>GroupDetails2</td>
		<td>
			ываываываыва ыва ы
		</td>
	</tr>
	<tr>
		<td>GroupDetails3</td>
		<td>
			ываываываыва ыва ы
		</td>
	</tr>
	<tr>
		<td>GroupDetails4</td>
		<td>
			ываываываыва ыва ы
		</td>
	</tr>
</table>