/* Меню */
ul#boss-menu{margin:30px 0 20px;padding:2px 16px;list-style:none;border-bottom:1px solid #ccc;white-space:nowrap!important;}
ul#boss-menu li {display:inline;margin:0;padding:0;list-style:none;}
ul#boss-menu li a {font-size:14px;color:#333;padding:2px 12px;margin:0;border:1px solid #ccc;border-bottom:none;background:url(../images/boss-tab.png) repeat-x center;font-weight:normal;}
ul#boss-menu li a:hover {font-size:14px;color:#fff;background:url(../images/boss-tab-active.png) repeat-x center;padding:2px 12px;margin:0;text-decoration:none;font-weight:normal;}
ul#boss-menu li a#current {cursor:default!important; color:#333;background:#fff;padding:2px 12px;margin:0;text-decoration:none;
border:1px solid #ccc;border-bottom:3px solid #fff;font-weight:normal;}
ul#boss-menu.inactive {cursor:default!important; margin:30px 0 20px;padding:2px 16px;list-style:none;border-bottom:1px solid #ccc;}
ul#boss-menu.inactive li {display:inline;margin:0;list-style:none;font-size:14px;color:#bbb;padding:2px 12px;margin:0;border:1px solid #ccc;border-bottom:none;background:url(../images/boss-tab-inactive.png) repeat-x top;}

/* ���������� */
.fl  {float:left!important;}
.fr  {float:right!important;}

.gray {color:#999!important;}

.mt20 {margin-top:20px!important;}
.mb20 {margin-bottom:20px!important;}
.ml10 {margin-left:10px!important;}

.pt20 {padding-top:20px!important;}


.pb20 {padding-bottom:20px!important;}

.aright{text-align:right!important;}
.acenter{text-align:center!important;}

.nodisplay {display:none!important;}
.nowrap {white-space:nowrap!important;}

	
/* --- Slides --- */
.jwts_slider {
    margin: 4px 0px;
    padding: 0px;
}

.jwts_slidewrapper {
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* DEFAULT STYLING */
.jwts_title {
    margin: 0 0 1px 0;
    padding: 0px;
    overflow: hidden;
    background: url(/administrator/components/com_boss/images/sliders/slide_bg_r.png) no-repeat right;
    cursor: pointer;
}

.jwts_title_left {
    background: url(/administrator/components/com_boss/images/sliders/slide_bg_l.png) no-repeat left;
    margin: 0 10px 0 0;
}

a.jwts_title_text,
a.jwts_title_text:link {
    display: block;
    background: url(/administrator/components/com_boss/images/sliders/star.png) no-repeat;
    background-position: 0px 2px;
    padding: 0 2px 0 20px;
    margin: 0 0 0 8px;
    line-height: 22px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #444;
}

a.jwts_title_text:visited {
    color: #444;
}

a.jwts_title_text:hover {
    display: block;
    background: transparent url(/administrator/components/com_boss/images/sliders/star.png) no-repeat;
    background-position: 0px 2px;
    padding: 0 2px 0 20px;
    margin: 0 0 0 8px;
    line-height: 22px;
    /*font-size: 12px; */
    font-weight: bold;
    text-decoration: none;
    color: #c64934;
}

.jwts_slidecontent {
    padding: 4px 12px 8px 12px;
    margin: 0px;
    position: relative;
    background: none;
    border: none;
}

.jwts_title_left, .jwts_slidecontent {
    text-align: left;
}

.center {
   margin-top: 10px;
   text-align: center; 
}

.pointer {
    cursor: pointer;
}
.clear {
    clear: both;
}

.types_content{
    margin: 0 0 10px 0;
    text-align: center;
}