/* [ Основной контейнер ] */
.boss_content,
.boss_content_featured {
    font-family: Arial;
    width: auto;
    padding: 10px;
    margin: 10px;
}

/* Заголовок каталога */
.boss_content > h1 {
    font-size: 12pt;
    font-weight: bold;
    margin: -10px 40px 20px -30px;
    padding: 10px;
    background-color: #e0e6d1;
}

.boss_content > h1 span a {
    text-decoration: none;
    border: none;
}

.boss_content .boss_categories,
.boss_content_featured .boss_categories {
    margin: 0 auto;
    text-align: center;
}

.boss_content .boss_categories a,
.boss_content_featured .boss_categories a {
    text-decoration: none;
    border: none;
}

.boss_content .boss_maincat,
.boss_content_featured .boss_maincat {
    float: left;
    margin: 20px;
}

/* Заголовок категории */
.boss_content > h3 {
    font-size: 11pt;
    font-weight: bold;
    margin: 0 -30px 20px -30px;
    padding: 10px;
    background-color: #e0e6d1;
    width: auto;
}

/* Заголовок категории */
.boss_content_featured > h3 {
    font-size: 11pt;
    font-weight: bold;
    margin: 0 -30px 20px -30px;
    padding: 10px;
    background-color: #ffffff;
    width: auto;
}

.boss_content .boss_cat,
.boss_content .boss_cat a,
.boss_content_featured .boss_cat,
.boss_content_featured .boss_cat a {
    font-size: 9pt;
    font-weight: normal;
    color: #666666;
}

.boss_content .content_list img,
.boss_content_featured .content_list img {
    padding: 2px;
    border: #aaaaaa solid 1px;
    margin: 3px;
}

.boss_content .comments,
.boss_content_featured .comments {
    font-size: 8pt;
    color: #666666;
    margin: 2px 0;
}

.boss_content .edit,
.boss_content_featured .edit {
    margin: 7px 0;
}

.boss_content .edit a,
.boss_content_featured .edit a {
    color: #990000;
    font-weight: bold;
    font-size: 9pt;
}

/* комментарии */
.dotteddiv {
    padding: 10px;
    margin: 15px 0;
    border: #eeeeee solid 1px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(122, 122, 122, 0.5);
}

.dotteddiv h3 {
    color: #990000;
    font-weight: normal;
    display: block;
    border-bottom: #999999 solid 1px;
}

.boss_content .addcomment td {
    padding: 5px;
}

/**************************************************** [ коррекция стиля ] */
.cf:after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ' ';
    font-size: 0;
}

.cf {
    *zoom: 1;
}

.boss_pathway {
    margin: 5px;
    font-size: 11pt;
    font-weight: bold;
    color: #990000;
}
