<table>
	<tr>
		<th>Наименование</th>
		<th>Описание</th>
	</tr>
	<tr>
		<th colspan="2">Обязательные поля</th>
	</tr>
	<tr>
		<td>featured</td>
		<td>
			Тип: Чекбокс одинарный
			Имя поля в БД (a-z): featured
		</td>
	</tr>
	<tr>
		<th colspan="2">Группы полей, используемые в шаблоне</th>
	</tr>
	<tr>
		<td>ListSubtitle</td>
		<td>
			Предварительный текст. Выводится после заголовка но выше картинки и основного текста.
		</td>
	</tr>
	<tr>
		<td>ListDescription</td>
		<td>
			Основной текст контента в списке. Выводится ниже ListSubtitle справа от картинки.
		</td>
	</tr>
	<tr>
		<td>ListBottom</td>
		<td>
			Заключительный текст контента в списке. Выводится ниже ListDescription и картинки.
		</td>
	</tr>
	<tr>
		<td>DetailsSubtitle1, DetailsSubtitle2, DetailsSubtitle3</td>
		<td>
			Субтитры страницы просмотра контента, идут один под другим сразу после заголовка и служебной информации.
		</td>
	</tr>
	<tr>
		<td>DetailsDescription</td>
		<td>
			Предварительный текст страницы просмотра контента, идет ниже субтитров.
		</td>
	</tr>
	<tr>
		<td>DetailsFullText</td>
		<td>
			Полный текст страницы просмотра контента, идет ниже предварительного и изображений.
		</td>
	</tr>
	<tr>
		<td>DetailsBottom</td>
		<td>
			Заключительный текст.
		</td>
	</tr>
</table>